<template>
  <ion-page>
    <ion-content class="ion-padding">
      <form @submit.prevent="pushTasks()">
        <ion-item>
          <ion-label position="fixed">Tasks:</ion-label>
          <ion-input
            class="inputTaks"
            minlength="1"
            maxlength="30"
            v-model="taskForm.description"
            :clear-input="true"
            placeholder="Taks"
            type="text"
            required
          ></ion-input>
        </ion-item>
        <div class="ion-padding">
          <ion-button color="primary" type="submit"> Guardar </ion-button>
        </div>
      </form>
    </ion-content>
  </ion-page>
</template>
<script>
// import { Storage } from "@ionic/storage";
import moment from "moment";
import { mapActions, mapGetters } from "vuex";
import {
  IonItem,
  IonInput,
  IonLabel,
  IonPage,
  IonContent,
  IonButton,
} from "@ionic/vue";
export default {
  name: "Create",
  components: {
    IonItem,
    IonInput,
    IonLabel,
    IonPage,
    IonContent,
    IonButton,
  },
  data: () => ({
    //
    taskForm: {
      id: 0,
      description: "",
      date: moment().format("l hh:mm:ss"),
    },
  }),
  computed: {
    ...mapGetters("tasks", {
      allTasks: "allTasks",
    }),
  },
  methods: {
    ...mapActions("tasks", {
      addTask: "addTask",
    }),
    pushTasks() {
      this.addTask(this.taskForm).then(() => {
        this.taskForm = {
          id: null,
          description: null,
          date: moment().format("l hh:mm:ss"),
        };
      });
      this.$router.push("/tasks");
    },
  },
};
</script>
<style>
.inputTaks {
  border-radius: 10px !important;
  padding-right: 30px;
  font-size: 0.9em;
  --color: var(--ion-color-dark);
  border: 1px solid #cecece !important;
  --background: rgb(240, 239, 239) !important;
  /* height: 10%; */
  /* width: 41%; */
  max-width: 50vw;
  max-height: 10vh;
}
</style>