<template>
  <ion-page>
    <ion-content class="ion-padding">
      <ion-card class="card">
        <ion-card-header>
          <ion-avatar>
            <img :src="gitlab" />
          </ion-avatar>
          <ion-card-title>Miguel De Jesus</ion-card-title>
          <ion-card-subtitle>Desarrollador Frontend</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          Encontrar una organización que me permita aplicar los conocimientos
          adquiridos en los años de estudio, así como mi capacidad de
          planificación, organización y dirección del funcionamiento de una
          empresa o compañías y afines. Formar parte de un equipo de trabajo y
          consolidarme profesionalmente en una empresa donde los logros
          personales y el desempeño sean reconocidos, además de permitir
          oportunidades de desarrollo personal y profesional.
        </ion-card-content>
        <div class="ion-padding redSocial">
          <ion-buttons>
            <ion-button
              target="_blank"
              href="https://gitlab.com/mdesarrollador23"
              ><ion-icon :icon="logoGitlab"></ion-icon>
              &nbsp;@mdesarrollador23</ion-button
            >
          </ion-buttons>
        </div>
      </ion-card>
    </ion-content>
  </ion-page>
</template>
<style>
.card > ion-card-content {
  text-align: justify;
  text-justify: inter-word;
}
.card > ion-card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card > .redSocial {
  display: flex;
  flex-direction: column;
  align-items: center;
}
</style>
<script>
import { logoGitlab } from "ionicons/icons";
import gitlab from "@/assets/avatar.png";
import {
  IonAvatar,
  IonCard,
  IonCardHeader,
  IonCardTitle,
  IonCardSubtitle,
  IonCardContent,
  IonButtons,
  IonButton,
  IonIcon,
  IonPage,
  IonContent,
} from "@ionic/vue";
export default {
  name: "Gitlab",
  components: {
    IonAvatar,
    IonPage,
    IonContent,
    IonCard,
    IonCardHeader,
    IonCardTitle,
    IonCardSubtitle,
    IonCardContent,
    IonButtons,
    IonButton,
    IonIcon,
  },
  data: () => ({
    //
    gitlab,
    logoGitlab,
  }),
};
</script>