<template>
  <ion-page>
    <!-- header  -->
    <ion-header :translucent="true">
      <header-component />
    </ion-header>
    <!-- content Pages  -->
    <ion-content>
      <ion-router-outlet></ion-router-outlet>
    </ion-content>
    <!-- footer Menu Button -->
    <footer-component />
  </ion-page>
</template>
<style>
.contentItems {
  overflow-y: scroll;
}
.contentInfoArray {
  width: 100%;
  padding: 10px;
  background: var(--ion-color-primary-tint);
  color: var(--ion-color-primary-contrast);
}
</style>
<script>
import FooterComponent from "@/components/FooterComponent";
import HeaderComponent from "@/components/HeaderComponent";

import {
  IonRouterOutlet,
  IonPage,
  IonHeader,
  IonContent,
  // IonMenuButton,
} from "@ionic/vue";

export default {
  name: "Home",
  components: {
    FooterComponent,
    HeaderComponent,
    IonRouterOutlet,
    IonPage,
    IonHeader,
    IonContent,
  },
  data: () => ({
    //
  }),
  methods: {},
};
</script>