<template>
  <ion-page>
    <ion-content>
      <div class="contentInfoArray">Tasks {{ allTasks.length }}</div>
      <ion-list lines="none">
        <div v-if="allTasks.length >= 1">
          <ion-item v-for="item in allTasks" :key="item.id">
            <ion-label>{{ item.description }}</ion-label>
            <ion-buttons slot="end">
              <ion-label>{{ item.date }}</ion-label>
              <ion-button color="secondary" @click="deleteTask(item.id)">
                <ion-icon :icon="trash" size="medium"></ion-icon
              ></ion-button>
            </ion-buttons>
          </ion-item>
        </div>
        <ion-item v-else>
          <ion-label>No Data</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-page>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
import { trash } from "ionicons/icons";
import {
  IonPage,
  IonContent,
  IonLabel,
  IonItem,
  IonList,
  IonIcon,
  IonButton,
  IonButtons,
} from "@ionic/vue";
export default {
  name: "task",
  components: {
    IonPage,
    IonContent,
    IonLabel,
    IonItem,
    IonList,
    IonIcon,
    IonButton,
    IonButtons,
  },
  data: () => ({
    //
    trash,
  }),
  computed: {
    ...mapGetters("tasks", {
      allTasks: "allTasks",
    }),
  },
  methods: {
    ...mapActions("tasks", {
      deleteTaskActions: "deleteTask",
    }),
    deleteTask(id) {
      this.deleteTaskActions(id);
    },
  },
};
</script>