<template>
  <ion-footer>
    <ion-toolbar>
      <ion-tabs>
        <ion-tab-bar class="menuBottom" color="primary" slot="bottom">
          <ion-tab-button
            tab="create"
            @click="() => this.$router.push('/create')"
          >
            <ion-icon :icon="create" size="large"></ion-icon>
          </ion-tab-button>

          <ion-tab-button
            tab="logoGitlab"
            @click="() => this.$router.push('/gitlab')"
          >
            <ion-icon :icon="logoGitlab" size="large"></ion-icon>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
    </ion-toolbar>
  </ion-footer>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button color="secondary" router-link="/tasks">
      <ion-icon :icon="list" size="large"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</template>

<script>
import { list, create, logoGitlab } from "ionicons/icons";
import {
  IonIcon,
  IonToolbar,
  IonFooter,
  IonTabs,
  IonTabButton,
  IonTabBar,
  IonFab,
  IonFabButton,
  // IonRouterLink,
} from "@ionic/vue";
export default {
  name: "Footer",
  components: {
    IonIcon,
    IonToolbar,
    IonFooter,
    IonTabs,
    IonTabButton,
    IonTabBar,
    IonFab,
    IonFabButton,
    // IonRouterLink,
  },
  data: () => ({
    //
    list,
    create,
    logoGitlab,
  }),
};
</script>

<style>
.menuBottom {
  display: flex;
  justify-content: space-between;
}
</style>