<template>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button router-link="/">
        <ion-icon :icon="logoNodejs" size="large"></ion-icon
      ></ion-button>
    </ion-buttons>
    <ion-title>Taks</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon :icon="ellipsisVertical" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</template>
<script>
import { logoNodejs, personCircle, ellipsisVertical } from "ionicons/icons";
import {
  IonToolbar,
  IonTitle,
  IonIcon,
  IonButtons,
  IonButton,
  // IonMenuButton,
} from "@ionic/vue";
export default {
  name: "Header",
  components: {
    IonToolbar,
    IonTitle,
    IonIcon,
    IonButtons,
    IonButton,
  },
  data: () => ({
    //icons
    logoNodejs,
    personCircle,
    ellipsisVertical,
  }),
  methods: {},
};
</script>