<template>
  <ion-app>
    <ion-router-outlet></ion-router-outlet>
  </ion-app>
</template>
<style >
.my-custom-class {
  color: var(--ion-color-primary);
}
</style>
<script>
import { IonApp, IonRouterOutlet, loadingController } from "@ionic/vue";
import { defineComponent } from "vue";

export default defineComponent({
  name: "App",
  components: {
    IonApp,
    IonRouterOutlet,
  },
  props: {
    timeout: { default: 1000 },
  },
  data: () => ({
    //
  }),
  created() {
    this.presentLoading();
  },
  methods: {
    async presentLoading() {
      const loading = await loadingController.create({
        cssClass: "my-custom-class",
        message: "Espere...",
        duration: this.timeout,
      });
      await loading.present();
      setTimeout(function () {
        loading.dismiss();
      }, this.timeout);
    },
  },
});
</script>